[user]
    name = cubercsl
    email = 2014cais01@gmail.com
    signingkey = 45C64B19E9161E41
[commit]
    gpgSign = true
[pull]
    rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
    path = .gitconfig.local
